.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 7px;
    position: relative;
}
.product img{
    height: 296px;
    width: 300px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.product-name{
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info{
    margin-left: 14px;
}
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    color: #0E161A;
    border: 1px solid #95A0A7;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn-cart:hover{
    background-color: #FF9900;
    color: white;
}